<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.wener.learn.jk.mapper.FactoryMapper">
    <resultMap type="factory" id="result">
        <id property="id" column="FACTORY_ID"/>
        <result property="fullName" column="FULL_NAME"/>
        <result property="factoryName" column="FACTORY_NAME"/>
        <result property="contacts" column="CONTACTS"/>
        <result property="phone" column="PHONE"/>
        <result property="mobile" column="MOBILE"/>
        <result property="fax" column="FAX"/>
        <result property="note" column="NOTE"/>
        <result property="inspector" column="INSPECTOR"/>
        <result property="orderNo" column="ORDER_NO"/>
        <result property="state" column="STATE"/>

        <result property="createBy" column="CREATE_BY"/>
        <result property="createDept" column="CREATE_DEPT"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>

    <sql id="table-name">FACTORY_C</sql>
    <sql id="table-id">FACTORY_ID</sql>
    <sql id="table-columns">FACTORY_ID,FULL_NAME,FACTORY_NAME,CONTACTS,PHONE,MOBILE,FAX,NOTE,INSPECTOR,ORDER_NO,STATE,CREATE_BY,CREATE_DEPT,CREATE_TIME</sql>
    <sql id="object-fields">#{id,jdbcType=VARCHAR},#{fullName,jdbcType=VARCHAR},#{factoryName,jdbcType=VARCHAR},#{contacts,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{fax,jdbcType=VARCHAR},#{note,jdbcType=VARCHAR},#{inspector,jdbcType=VARCHAR},#{orderNo,jdbcType=INTEGER},#{state,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDept,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}</sql>

    <select id="count" resultType="long">
        <include refid="Core.count"/>
    </select>
    <select id="findAll" resultMap="result">
        <include refid="Core.findAll"/>
    </select>

    <select id="findById"
            resultMap="result"
            useCache="true">
        <include refid="Core.findById"/>
    </select>

    <select id="findByIds" parameterType="list" resultMap="result" useCache="true">
        <include refid="Core.findByIds"/>
    </select>

    <delete id="deleteById" parameterType="long">
        <include refid="Core.deleteById"/>

    </delete>

    <delete id="deleteByIds" parameterType="list">
        <include refid="Core.findByIds"/>

    </delete>

    <!--需要具体类型参数的方法-->
    <delete id="delete" parameterType="factory">
        <include refid="Core.delete"/>
    </delete>

    <insert id="insert" parameterType="factory">
        insert into <include refid="table-name"/>
		( <include refid="table-columns"/> )
		values
		( <include refid="object-fields"/> )
    </insert>

    <update id="update" parameterType="factory">
        update <include refid="table-name"/>
        <set>
            <if test="fullName != null">FULL_NAME=#{fullName},</if>
            <if test="factoryName != null">FACTORY_NAME=#{factoryName},</if>
            <if test="contacts != null">CONTACTS=#{contacts},</if>
            <if test="phone != null">PHONE=#{phone},</if>
            <if test="mobile != null">MOBILE=#{mobile},</if>
            <if test="fax != null">FAX=#{fax},</if>
            <if test="note != null">NOTE=#{note},</if>
            <if test="inspector != null">INSPECTOR=#{inspector},</if>
            <if test="orderNo != null">ORDER_NO=#{orderNo},</if>
            <if test="state != null">STATE=#{state},</if>

            <if test="createBy != null">CREATE_BY=#{createBy},</if>
            <if test="createDept != null">CREATE_DEPT=#{createDept},</if>
            <if test="createTime != null">CREATE_TIME=#{createTime},</if>
        </set>
        where <include refid="table-id"/>=#{id}
    </update>

    <update id="updateState">
        update <include refid="table-name"/>
        set state = #{state}
        where <include refid="table-id"/> in
        <foreach collection="list"
                 item="id"
                 separator=","
                 open="("
                 close=")">
            #{id}
        </foreach>
    </update>
</mapper>